127.0.0.1	localhost
# Nginx custom URL
127.0.0.1   ${DOMAIN_NAME}
127.0.0.1   www.${DOMAIN_NAME}
# The following lines are desirable for IPv6 capable hosts
::1     localhost ip6-localhost ip6-loopback
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters
# Added by Docker Desktop
# To allow the same kube context to work on the host and the container:
127.0.0.1	kubernetes.docker.internal
# End of section

0.0.0.0 test